<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ '/css/bootstrap.min.css' | relative_url }}"
      rel="stylesheet"
    />
    <link href="{{ '/css/style.css' | relative_url }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
    <title>{{ page.title | default: "Your Modern Blog" }}</title>
  </head>
  <body>
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}
  <script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-…"
   crossorigin="anonymous"
  ></script>
  </body>
</html>
